<nav class="navbar navbar-expand-lg navbar-default">
  <a class="navbar-brand" [routerLink]="'/home'">Football Data</a>

  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/competitions']" (click)="isMenuCollapsed = true">Competitions</a>
      </li>
    </ul>
  </div>
</nav>
