<div class="container">
  <h1>Leagues</h1>
  <div class="row">
    <div class="col-md-2 col-sm-6" *ngFor="let comp of compsFiltered(competitions, 'League')" style="
    padding-top: 15px;">
      <div class="card bg-light mb-3 full-height text-center"  [routerLink]="['/competitions/', country, comp.league_id]">
        <img class="align-self-center" src={{comp.logo}} style="width: 56.75px; height: 57.083px;">
        <div class="card-body">
          <p class="card-text text-dark align-self-center">{{comp.name}}
            </p>
        </div>
      </div>
    </div>
  </div>
  <h1>Cups</h1>
  <div class="row">
    <div class="col-md-2 col-sm-6" *ngFor="let comp of compsFiltered(competitions, 'Cup')" style="
    padding-top: 15px;">
      <div class="card bg-light mb-3 full-height text-center"  [routerLink]="['/competitions/', comp.league_id]">
        <img class="align-self-center" src={{comp.logo}} style="width: 56.75px; height: 57.083px;">
        <div class="card-body">
          <p class="card-text text-dark align-self-center">{{comp.name}}
            </p>
        </div>
      </div>
    </div>
  </div>
</div>

