
<div class="container">
  <h1>{{competition.name}}</h1>

  <h2>Standings</h2>
<div class="row">
  <table class="table table-striped table-responsive">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"></th>
      <th scope="col">Club</th>
      <th scope="col">MP</th>
      <th scope="col">Win</th>
      <th scope="col">Draw</th>
      <th scope="col">Lost</th>
      <th scope="col">GF</th>
      <th scope="col">GA</th>
      <th scope="col">Points</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let club of standings[0]">
      <td>{{club.rank}}</td>
      <td>
        <img src={{club.logo}} class="mr-2" style="width: 20px">
      </td>
      <td>{{ club.teamName }}</td>
      <td>{{ club.all.matchsPlayed  }}</td>
      <td>{{ club.all.win }}</td>
      <td>{{ club.all.draw }}</td>
      <td>{{ club.all.lose }}</td>
      <td>{{ club.all.goalsFor }}</td>
      <td>{{ club.all.goalsAgainst }}</td>
      <td>{{ club.points }}</td>
    </tr>
    </tbody>
  </table>
</div>

<h2>Upcoming clsFixtures</h2>
<div class="row">
  <div class="col-md-3 d-none d-md-block bg-light sidebar">
    <ul class="nav flex-column">
      <li *ngFor="let fixture of fixtures" class="match">
        <div class="text-center" style="font-size: 1.1rem">
          <span><img src={{fixture.homeTeam.logo}} style="width: 20px"></span>
          <span class="teamName">{{fixture.homeTeam.team_name}}</span>
          <time>{{fixture.event_date | date:'shortTime'}}</time>
          <span>
            <img src={{fixture.awayTeam.logo}} style="width: 20px">
           </span>
           <span class="teamName">{{fixture.awayTeam.team_name}}</span>
        </div>
      </li>
    </ul>
  </div>
</div>
</div>